body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  width: 100%;
  /* border: 1px solid red; */
  height: 4rem;
  font-size: 1rem;
  background: #2b2d42;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
}
.nav-link:hover {
  color: #c4c4c4;
}
.logo {
  color: white;
  font-size: 0.7rem;
  font-family: "Ubuntu", sans-serif;
  margin-left: 0.4rem;
}
.login-form {
  /* border: 1px solid red; */
  width: 400px;
  height: 300px;
  margin-top: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1),
    2px 0px 4px rgba(0, 0, 0, 0.1), -2px 0px 4px rgba(0, 0, 0, 0.1);
    font-family: "Ubuntu", sans-serif;
}
.login-form h1 {
  margin-bottom: 1.4rem;
}
.login-form input {
  width: 70%;
  min-width: 300px;
  height: 3rem;
  outline: none;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  padding-left: 0.8rem;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}
.login-form button {
  width: 77%;
  height: 3rem;
  background-color: #1e90ff;
  color: white;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 1rem;
  margin-top: 1rem;
}
.login-form button:hover {
  background: rgba(136, 204, 255, 0.8);
  cursor: pointer;
}
.nav-link {
  color: #c4c4c4;
}
.nav-link.active {
  color: white;
}
.sub-nav-bar {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
}
.sub-link {
  margin: 0 2rem;
  font-size: 1rem;
  color: #c4c4c4;
  text-decoration: none;
}
.sub-link.active {
  color: #4f4f4f;
  font-weight: bold;
}
.logo-box i {
  font-size: 1rem;
  color: white;
}
.logo-box {
  display: flex;
  align-items: center;
  margin-left: 1.2rem;
}
.register-button {
  border: 1px solid #1e90ff;
  color: #1e90ff;
  background: none;
}
.form-container {
  width: 100%;
  /* border: 1px solid red; */
  height: 4.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
}
.board-input {
  height: 4rem;
  border: none;
  outline: none;
  width: 400px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  background: #f8f8f8;
  text-align: center; 
  /* border: 1px solid red; */
}
.board-input::placeholder {
  color: #c4c4c4;
}
.article-board-input {
  display: none;
}
.article-form-container {
  /* border: 1px solid red; */
  width: 100%;
  height: 4rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.sub-nav-bar-article {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
  width: 100%;
}
.article-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
.article-shown-input-1 {
  height: 2rem;
  width: 40%;
  /* text-align: center; */
  border: none;
  background: none;
  outline: none;
  font-size: 1rem;
  margin-top: 0.4rem;
  /* border-right: 1px solid #c4c4c4; */
  /* padding-left: 2rem; */
}
.article-shown-input {
  height: 2rem;
  width: 40%;
  /* text-align: center; */
  border: none;
  background: none;
  outline: none;
  font-size: 1rem;
  margin-top: 0.4rem;
  /* padding-left: 2rem; */
  /* border-right: 1px solid black; */
}
.article-shown-input::placeholder {
  color: #c4c4c4;
  text-align: center;
  padding: 0;
}
.article-shown-input-1::placeholder {
  color: #c4c4c4;
  text-align: center;
  padding: 0;
}
.form-button {
  width: 200px;
  height: 2rem;
  border: none;
  outline: none;
  background: none;
  margin-top: 1rem;
  display: none;
}
.ind-board {
  /* border: 1px solid red; */
  width: 27%;
  height: 150px;
  margin: 3%;
  border-radius: 10px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.05),
    2px 0px 4px rgba(0, 0, 0, 0.1), -2px 0px 4px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  color: #999999;
  font-family: "Ubuntu", sans-serif;
}
.board-container {
  display: flex;
  width: 80%;
  /* border: 1px solid green; */
  flex-wrap: wrap;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column-reverse;
  width: 80%;
  max-width: 700px;
  margin-top: 1rem;
}
.ind-article {
  /* border: 1px solid green; */
  border-radius: 5px;
  margin: 0.7rem 0;
  text-decoration: none;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.05),
  2px 0px 4px rgba(0, 0, 0, 0.1), -2px 0px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ind-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.ind-link {
  text-decoration: none;
  color: #999999;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
#article-icon {
  color: #c4c4c4;
  font-size: 2rem;
  margin-left: 1.2rem;
}
.article-title {
  margin: 1rem 1.2rem;
  font-size: 1rem;
  font-weight: none;
  font-family: "Ubuntu", sans-serif;
}
.divide {
  border: 1px solid #c4c4c4;
  height: 50%;
  margin: 0 1rem;
}
.article-delete {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  margin-right: 1rem;
  height: 1.5rem;
  outline: none;
  color: #4f4f4f;
}
.article-delete:hover {
  cursor: pointer;
  color: #c4c4c4;
  background: #efefef;
}
#board-icon {
  font-size: 2rem;
  margin-top: 1.4rem;
}
.board-delete {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  height: 1.5rem;
  outline: none;
  color: #4f4f4f;
}
.board-delete:hover {
  cursor: pointer;
  color: #c4c4c4;
  background: #efefef;
}
.loader {
  margin-top: 1rem;
}
#pencil-edit {
  font-size: 1.2rem;
  margin-right: 1.4rem;
  color: #999999;
}
#pencil-edit:hover {
  color: #02C39A;
  cursor: pointer;
}
.article-edit {
  border: 1px solid #02C39A;
  border-radius: 4px;
  margin-right: 1rem;
  height: 1.5rem;
  width: 7rem;
  outline: none;
  color: #02C39A;
}
.article-edit:hover {
  cursor: pointer;
  color: #ffffff;
  background: #02C39A;
}
.landing-header {
  font-family: "Ubuntu", sans-serif;
}